body, html {
    height: 50%;
}

.bg {
    /* The image used */
    background-image: url("headerimage.jpg");

    /* Full height */
    height: 50%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}





h1 {
    font-size: 36px;
    font-family: 'Tahoma';


}

h2 {
    font-size: 24px;
    font-family: "Trebuchet MS";

}

h3 {
    font-size: 18px;
    font-family: "Baskerville";

}

h4 {
    font-size: 14px;
    font-family: "Arial";
}

h5 {
    font-size: 14px;
    font-family: "Arial";
}

h6{
    font-size: 12px;
    font-family: "Arial";
}

p {
    font-family: "Arial";
    color: black;
    font-size: 14px;

}



a:link {
    color: #364B7A;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #364B7A;;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: #364B7A;;
    background-color: transparent;
    text-decoration: none;
}



.blockquote  {

    background-color: #364B7A;
    margin: 40px;

}


nav {
    color: #007bff;
}




footer {
   background-color: #897DAD;
    color: black;


}



buttons {


}



social icons {


